.App {
  margin: 0 5%;
}
.big-title{
  text-align: center;
  background-color: ghostwhite;
  padding: 40px 0;
}
.form{
  margin-top: 3%;
}
span{
  padding: 5px 10px;
  border: 1px grey solid;
  border-radius: 50%;
}
.app-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin-bottom: 10px;
}

li{
  width: 70%;
}

button, input{
  padding: 5px 20px;
  margin-top: 10px;
}

.app-div button{
  margin-top: 0;
}
.temperature-form{
  margin-top: 50px;
  width: 400px;
}

fieldset{
  margin-top: 20px;
}

.W04D04HW-div{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}

.W04D04HW-card{
  width: 300px;
  margin-bottom: 30px;
}

.W04D04HW-button{
  text-align: center;
  margin-bottom: 30px;
}

.axoisLab-img{
  width: 300px;
}

.switch-div{
  padding: 10% 0;
}
.nav{
  display: flex;
  background-color: ghostwhite;
  padding: 30px 10px;
  justify-content: space-around;
}
.nav li{
  list-style: none;
  width: auto;
}
.nav a{
  text-decoration: none;
  color: black;
  padding: 5px 0;
}
.nav a:hover{
  color: darkolivegreen;
}

.UseContextChild-div{
  text-align: center;
}